.charging_state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;

  h1 {
    margin-bottom: 2rem;
    font-size: 20px;
    font-weight: bold;
  }

  &_chart {
    width: 280px;
    height: 180px;
  }
}
