@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 2rem;
  z-index: 100;
  font-weight: bold;
}

.menu-bars {
  font-size: 3rem;
  background: none;
  color: black;

  .left-icon {
    width: 40px;
    height: 40px;
  }
}

.nav-menu {
  width: 400px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 800ms ease-in-out;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #191c29;
}

.nav-menu.active {
  left: 0;
  transition: 0.5s ease-in-out;
}

.nav-menu-items {
  width: 100%;
  overflow: auto;
  font-family: "LeferiPoint-WhiteObliqueA";
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  &__close {
    position: relative;

    right: 2rem;
  }
  &__title {
    display: flex;

    font-size: 1.8rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    span {
      display: inline-block;
      font-size: 2rem;
    }
    & span:first-child {
      margin-right: 1rem;
    }
  }

  &__subtitle li {
    font-size: 1.6rem;

    margin: 1rem 0 1rem 2.5rem;
  }
}

.sub_active {
  padding: 0.5rem;
  // margin-left: 2rem;

  // background-color: yellow;

  position: relative;
  // display: inline-block;
  // @include titleStyle($fz: 7vh, $c: #000);
  overflow: hidden;
  vertical-align: top;
  transition: 0.25s ease-in-out;
  &::before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-95%);
    margin-right: 10px;
    width: 0;
    height: 0.3vh;
    background-color: white;
    transition: 0.25s ease-in-out;
  }
  &:hover {
    // width: 80%;
    background-color: #1e73be;
    border-radius: 0.5rem;

    padding-left: 3vh;
    &::before {
      width: 1.5vh;
      margin-left: 2rem;
    }
  }
}

// .sub_active {
//   background-color: "#191c29";

//   &:hover {
//     background-color: "#1E73BE";
//   }
// }
