@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

a {
  color: #000063;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 100;
  font-weight: bold;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  color: black;
}

.nav-menu {
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  background-color: white;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-menu-items {
  width: 100%;
  overflow: auto;
  font-family: "LeferiPoint-WhiteObliqueA";
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-bars {
  &__title {
    font-size: 1.8rem;
  }
  &__subtitle li {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}
