// title
.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;

  &__line {
    border: 1.2px solid #ccc;
    background-color: #ccc;
    margin-bottom: 2rem;
  }
}

// list
.list {
}

// edit
