.edit_password {
  margin-top: 3rem;

  &__input {
    @include flexCenter();
    flex-direction: column;
    padding-top: 2rem;
  }

  &__btn {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
