.charging_station {
}

.companies {
  display: flex;
  padding-top: 100px;
}

.error_regist {
  &__input {
    @include flexCenter();
    flex-direction: column;
  }
}

.MuiInputBase {
  //autocomplete의 기본 width를 무시하고 input 값 조절
  &-root {
    // width: 500px !important;
    // margin: 0 0 1.5rem 0;
  }
}
