.current_chart {
  width: 600px;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__doughnut {
    height: 150px;
    position: relative;

    span {
      position: absolute;
      left: 38%;
      bottom: 32%;
      font-size: 1.2rem;
    }
  }

  &__bar {
    width: 60%;
  }
}
