.current_chart {
  width: 500px;

  &__box {
    @include flexCenter();
    padding: 1rem;
  }

  &__doughnut {
    width: 150px;
    height: 200px;
    position: relative;

    span {
      position: absolute;
      left: 60px;
      bottom: 75px;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  &__bar {
    width: 350px;
    height: calc(100vh * 0.2);
  }
}
