.current_chart {
  width: 500px;

  &__box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }

  &__doughnut {
    position: relative;
    width: 150px;
    height: 150px;

    span {
      position: absolute;
      left: 60px;
      bottom: 50px;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  &__bar {
    width: 350px;
    height: calc(100vh * 0.2);
  }
}
