.date_chart {
  width: 600px;
  margin-bottom: 2rem;

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
  }

  &__line {
    padding-right: 1rem;
  }

  &__table {
    width: 50%;

    th {
      border-bottom: 1px solid black;
      padding: 1rem;
    }

    tr td {
      text-align: center;
      padding: 1rem;
    }
  }
}
