.date_chart {
  width: 500px;
  padding-right: 1rem;

  &__box {
    @include flexCenter();
    padding: 1rem;
  }

  &__line {
    width: 200px;
    height: calc(100vh * 0.2);
  }

  &__table {
    width: 300px;
    margin-left: 2rem;
    margin-right: 1rem;

    th {
      border-bottom: 1px solid black;
      padding: 1rem;
    }

    tr td {
      border-bottom: 1px solid lightgray;
      text-align: center;
      padding: 1rem;
    }
  }
}
