.total_chart {
  width: 800px;
  margin: 0 0 2rem 7rem;
  // margin: 0 auto 2rem auto;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__line {
    display: flex;
    justify-content: center;
  }
}
