.map_container {
  @include flexCenter();
  flex-direction: column;
}

.chart_container {
  @include flexCenter();
  flex-direction: column;
}

.timeline_container {
  @include flexBetween();
}

.log_container {
  @include flexBetween();
}

.detail_container {
  @include flexCenter();
  margin: 100px auto;
}
